body { 
    margin: 0; 
    padding: 0; 
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

.customMarker {
    background-image: url('MTS_Bus_icon.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}